.card {
  margin: var(--xs);
  max-width: 18rem; /* 288px */
}

.card:hover {
  box-shadow: 2px 2px 5px var(--base-dark);
}

.hide-lg {
  display: none;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
  .hide-lg {
    display: block;
  }
}


  