:root {
  /* base colors */
    
  --base-white: #fff;
  --base-dark: #2a2a2a;
  --primary-color: #009aff;
  --secondary-color: #ff9114;
  --alternative-color: #45ac29;


  /* breakpoints */

  --bk-xs: 0;
  --bk-sm: 36rem;    /* 576px  */
  --bk-md: 48rem;    /* 768px  */
  --bk-lg: 64rem;    /* 1024px */
  --bk-xl: 80rem;    /* 1280px */
  --bk-xxl: 87.5rem; /* 1400px */

  /* sizes variables */
  
  --xxxxs: 0.125rem; /* 2px   */
  --xxxs: 0.25rem;   /* 4px   */
  --xxs: 0.5rem;     /* 8px   */
  --xs: 0.75rem;     /* 12px  */
  --sm: 1rem;        /* 16px  */
  --md: 1.5rem;      /* 24px  */
  --lg: 2rem;        /* 32px  */
  --xl: 3rem;        /* 48px  */
  --xxl: 4.5rem;     /* 72px  */
  --xxxl: 6rem;      /* 96px  */
  --xxxxl: 8rem;     /* 128px */

}